<div class="navbar">
  <div class="hide" id="mobile-menu">
    {{#if media.isMobile}}
      {{#if isMobileMenu}}
        <i class="far fa-window-close" {{action 'hideMenu'}}></i>
      {{else}}
        <i class="fas fa-bars" {{action 'showMenu'}}></i>
      {{/if}}
    {{/if}}
  </div>
  <div class="menu">
    <div class="header-links">
        {{#if media.isMobile}}
          <a {{action 'hideMenu'}}>
            {{#link-to 'home'}}
              Home
            {{/link-to}}
          </a>
        {{else}}
          {{#link-to 'home'}}
            Home
          {{/link-to}}
        {{/if}}
    </div>
    <div class="header-links" id="the-monkees">
      {{#if media.isMobile}}
        <a {{action 'hideMenu'}}>
          {{#link-to 'the-monkees'}}
            The Monkees
          {{/link-to}}
        </a>
        {{else}}
          {{#link-to 'the-monkees'}}
            The Monkees
          {{/link-to}}
        {{/if}}
    </div>
    <div class="header-links">
      {{#if media.isMobile}}
        <a {{action 'hideMenu'}}>
          {{#link-to 'our-music'}}
            Our Music
          {{/link-to}}
        </a>
        {{else}}
          {{#link-to 'our-music'}}
            Our Music
          {{/link-to}}
        {{/if}}
    </div>
    {{#if media.isMobile}}
      <div class="header-links">
        {{#if isTrackPlaying}}
          <a id="stop-track" {{action 'stop'}}>
            Stop <i class="fas fa-pause"></i>
          </a>
        {{else}}
          <a id="play-track" {{action 'play'}}>
            Play <i class="fas fa-play"></i>
          </a>
        {{/if}}
      </div>
    {{/if}}
    <div class="header-links">
      {{#if media.isMobile}}
        <a {{action 'hideMenu'}}>
          {{#link-to 'live-shows'}}
            Live Shows
          {{/link-to}}
        </a>
      {{else}}
        {{#link-to 'live-shows'}}
          Live Shows
        {{/link-to}}
      {{/if}}
    </div>
    <div class="header-links">
      {{#if media.isMobile}}
        <a {{action 'hideMenu'}}>
          {{#link-to 'contact-us'}}
            Contact/Book Us
          {{/link-to}}
        </a>
      {{else}}
        {{#link-to 'contact-us'}}
          Contact/Book Us
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
