<div class="navbar">
  <div class="hide" id="mobile-menu">
    {{#if media.isMobile}}
      {{#if isMobileMenu}}
        <i class="far fa-window-close" {{action 'hideMenu'}}></i>
      {{else}}
        <i class="fas fa-bars" {{action 'showMenu'}}></i>
      {{/if}}
    {{/if}}
  </div>
  <div class="menu">
    <div class="header-links">
        {{#link-to 'home'}}
        Home
        {{/link-to}}
    </div>
    <div class="header-links" id="the-monkees">
        {{#link-to 'the-monkees'}}
          The Monkees
        {{/link-to}}
    </div>
    <div class="header-links">
        {{#link-to 'our-music'}}
          Our Music
        {{/link-to}}
    </div>
    {{#if media.isMobile}}
      <div class="header-links">
        {{#if isTrackPlaying}}
          <a id="stop-track" {{action 'stop'}}>
            Stop <i class="fas fa-pause"></i>
          </a>
        {{else}}
          <a id="play-track" {{action 'play'}}>
            Play <i class="fas fa-play"></i>
          </a>
        {{/if}}
      </div>
    {{/if}}
    <div class="header-links">
      {{#link-to 'live-shows'}}
        Live Shows
      {{/link-to}}
    </div>
    <div class="header-links">
      {{#link-to 'contact-us'}}
        Contact/Book Us
      {{/link-to}}
    </div>
  </div>
</div>
