<div class="navbar">
  <div class="hide" id="mobile-menu">
    {{#if media.isMobile}}
      {{#if isMobileMenu}}
        <img class="mobile-menu-icon" id="x-nav-icon"src='assets/images/x-mark-5-512.png' {{action 'hideMenu'}}>
      {{else}}
        <img class="mobile-menu-icon" id="hamburger-nav-icon" src='assets/images/36-512_white_hamburger.png' {{action 'showMenu'}}>
      {{/if}}
    {{/if}}
  </div>
  <div class="menu">
    <div class="header-links">
        {{#link-to 'home'}}
        Home
        {{/link-to}}
    </div>
    <div class="header-links" id="the-monkees">
        {{#link-to 'the-monkees'}}
          The Monkees
        {{/link-to}}
    </div>
    <div class="header-links">
        {{#link-to 'our-music'}}
          Our Music
        {{/link-to}}
    </div>
    {{#if media.isMobile}}
      <div class="header-links">
        {{#if isTrackPlaying}}
          <a id="stop-track" {{action 'stop'}}>
            Stop |
          </a>
        {{else}}
          <a id="play-track" {{action 'play'}}>
            Play >
          </a>
        {{/if}}
      </div>
    {{/if}}
    <div class="header-links">
      {{#link-to 'live-shows'}}
        Live Shows
      {{/link-to}}
    </div>
    <div class="header-links">
      {{#link-to 'contact-us'}}
        Contact/Book Us
      {{/link-to}}
    </div>
  </div>
</div>
