<div id="social-footer-container">
    <div class="icons-div" id="facebook-i">
      <img src="assets/images/FB-f-Logo__blue_114.png" class="icons-graphics" onclick={{action 'facebookShare'}}>
    </div>
    <div class="icons-div" id="instagram-i">
      <img src="assets/images/glyph-logo_May2016.png" class="icons-graphics" onclick={{action 'instagramShare'}}>
    </div>
    <div id="twitter-div">
        <img src="assets/images/Twitter_Logo_WhiteOnBlue.png" id="twitter-graphic" onclick={{action 'twitterShare'}}
          {{action 'mouseEnterTwitter' on="mouseEnter"}} {{action 'mouseLeaveTwitter' on="mouseLeave"}}>
    </div>
</div>
