<div id="appview">
  <div class="{{media.classNames}}">
    {{navigation-menu-bar}}
  </div>
  <div class="{{media.classNames}}">
    {{outlet}}
  </div>
  <div class="{{media.classNames}}">
    {{social-footer}}
  </div>
</div>
