<div class="container">
    <div class="box">
    </div>
    <div class="box" id="contact-us-box">
      <p class="instruction-text">Please fill in the form to contact us.</P>
        {{#if media.isDesktop}}
        <div class="form-text-right">{{input value=fullNameValue key-up="validateFullName" placeholder="Name" size="30"}}</div>
        <div class="form-text-right">{{input value=telephoneValue placeholder="Telephone" size="30"}}</div>
        <div class="form-text-right">{{input value=emailValue placeholder="Email" size="30"}}</div>
        {{/if}}
        {{#if media.isTablet}}
        <div class="form-text-right">{{input value=fullNameValue key-up="validateFullName" placeholder="Name" size="20"}}</div>
        <div class="form-text-right">{{input value=telephoneValue placeholder="Telephone" size="20"}}</div>
        <div class="form-text-right">{{input value=emailValue placeholder="Email" size="30"}}</div>
        {{/if}}
        {{#if media.isMobile}}
        <div class="form-text-right">{{input value=fullNameValue key-up="validateFullName" placeholder="Name" size="18"}}</div>
        <div class="form-text-right">{{input value=telephoneValue placeholder="Telephone" size="18"}}</div>
        <div class="form-text-right">{{input value=emailValue placeholder="Email" size="18"}}</div>
        {{/if}}
      <div class="form-text-right">{{contact-type-select selectMessageType="setIsBooking" id='messageType'}}</div>
      {{#if isBooking}}
        <div class="form-text-right">
          {{date-picker date=mydate valueFormat="YYYY-MM-DD"}}
        </div>
        <div class="form-text-right">
          {{#if searchPostcode.isRunning}}
              <i class="fa fa-spinner" aria-hidden="true"></i>
          {{/if}}
          <input type="text" id="search-postcode" oninput={{perform searchPostcode value="target.value"}} placeholder="Venue Post Code" />
        </div>
        <div class="form-text-right">
          <input type="text" id="booking-cost" value="{{cost}}" placeholder="Price £0.00" />
        </div>
        <div class="form-text-right">
          <label class="form-label">Booking Cost £</label><input type="text" id="booking-cost" value="{{cost}}" placeholder="0.00" />
        </div>

      {{/if}}
      <div class="form-text-right">
          {{#if media.isDesktop}}
            <div>{{textarea value=messageValue key-up="validateMessage" cols="75" rows="12" placeholder="Your Message"}}</div>
          {{/if}}
          {{#if media.isTablet}}
            <div>{{textarea value=messageValue key-up="validateMessage" cols="45" rows="12" placeholder="Your Message"}}</div>
          {{/if}}
          {{#if media.isMobile}}
            <div>{{textarea value=messageValue key-up="validateMessage" cols="23" rows="12" placeholder="Your Message"}}</div>
          {{/if}}
        </div>
        <div class="form-text-right">
          <button onclick={{action 'emailForm'}} disabled={{disableButtonSubmit}} class="submit-button">Submit</button>
        </div>

    </div>
    <div class="box">
    </div>
</div>
