<div class="container">
  <div class="box-above-below">
  </div>
    <div class="box" id="band-members-box">
          {{#if isMickyDolenzHeading}}
            <h3 class="member-name member-name-white" id="micky-dolenz-name" {{action 'toggleMickyDolenz'}}>Micky Dolenz</h3>
          {{/if}}
          {{#if isMickyDolenzParagraph}}
            <p class="paragraph-text">
              <div class="band-image-container">
                <img src="assets/images/Micky_Dolenz_at_the_2009_Tribeca_Film_Festival.jpg" id="micky-dolenz" class="headshot">
                <div class="pinterest" id="micky-dolenz-pinterest">
                  <img src="assets/images/badgeRGB.png" class="pinterest_logo" onclick={{action 'pinterestImage'}}>
                </div>
              </div>
              Dolenz began his show business career in 1956 when he starred in a children's show called Circus Boy under the name Mickey Braddock. He played Corky, an orphaned water boy for the elephants in a one-ring circus at the start of the 20th century. The program ran for two seasons, after which Dolenz made sporadic appearances on network television shows and pursued his education. Dolenz went to Ulysses S. Grant High School in Valley Glen, Los Angeles, California, and graduated in 1962. In 1964, he was cast as Ed in the episode "Born of Kings and Angels" of the NBC education drama series, Mr. Novak, starring James Franciscus as an idealistic Los Angeles teacher. Dolenz was attending college in Los Angeles when he was hired for the "drummer" role in NBC's The Monkees.
            </p>
        {{/if}}
        {{#if isPeterTorkHeading}}
          <h3 class="member-name member-name-white" id="peter-tork-name" {{action 'togglePeterTork'}}>Peter Tork</h3>
        {{/if}}
        {{#if isPeterTorkParagraph}}
          <p class="paragraph-text">
            <div class="band-image-container">
              <img src="assets/images/WikiTork.jpg" id="peter-tork" class="headshot">
              <div class="pinterest" id="peter-tork-pinterest">
                <img src="assets/images/badgeRGB.png" class="pinterest_logo" onclick={{action 'pinterestImage'}}>
              </div>
            </div>
            Tork was born at the former Doctors Hospital, in Washington, D.C. Although he was born in the District of Columbia in 1942, many news articles incorrectly report him as born in 1944 in New York City, which was the date and place given on early Monkees press releases. He is the son of Virginia Hope (née Straus) and Halsten John Thorkelson, an economics professor at the University of Connecticut. His paternal grandfather was of Norwegian descent, while his mother was of half German Jewish and half British Isles ancestry. He began studying piano at the age of nine, showing an aptitude for music by learning to play several different instruments, including the banjo and both acoustic bass and guitars. Tork attended Windham High School in Willimantic, Connecticut, and was a member of the first graduating class at E.O. Smith High School in Storrs, Connecticut. He attended Carleton College before he moved to New York City, where he became part of the folk music scene in Greenwich Village during the first half of the 1960s. While there, he befriended other up-and-coming musicians such as Stephen Stills.
          </p>
        {{/if}}
          {{#if isDavyJonesHeading}}
            <h3 class="member-name member-name-white" id="davy-jones-name" {{action 'toggleDavyJones'}}>Davy Jones</h3>
          {{/if}}
          {{#if isDavyJonesParagraph}}
          <p class="paragraph-text">
            <div class="band-image-container">
              <img src="assets/images/Davy_Jones_2011.jpg" id="davy-jones" class="headshot">
              <div class="pinterest" id="davy-jones-pinterest">
                <img src="assets/images/badgeRGB.png" class="pinterest_logo" onclick={{action 'pinterestImage'}}>
              </div>
            </div>
            David Thomas Jones was born at 20 Leamington Street, Openshaw, Manchester, Lancashire, England, on 30 December 1945. His television acting debut was on the British television soap opera Coronation Street. He portrayed Colin Lomax, Ena Sharples' grandson, for one episode on 6 March 1961. He also appeared in the BBC police series Z-Cars. After the death of his mother from emphysema when he was 14 years old, Jones rejected acting in favour of a career as a jockey, apprenticing with Newmarket trainer Basil Foster. He dropped out of secondary school to begin his career in that field. This career was short-lived, however. Even though Foster believed Jones would be successful as a jockey, he encouraged his young protégé to take a role as the Artful Dodger in a production of Oliver! in London's West End, a move which changed Jones' life forever. In turn, Jones cared for Foster in his later years, bringing him to the United States and providing him financial support.
          </p>
          {{/if}}
          {{#if isMichaelNesmithHeading}}
            <h3 class="member-name member-name-white" id="michael-nesmith-name" {{action 'toggleMichaelNesmith'}}>Michael Nesmith</h3>
          {{/if}}
          {{#if isMichaelNesmithParagraph}}
            <p class="paragraph-text">
              <div class="band-image-container">
                <img src="assets/images/Michael_Nesmith_2013.jpg" id="davy-jones" class="headshot">
                <div class="pinterest" id="michael-nesmith-pinterest">
                  <img src="assets/images/badgeRGB.png" class="pinterest_logo" onclick={{action 'pinterestImage'}}>
                </div>
              </div>
              Nesmith was born in Houston, Texas in 1942. He is an only child; his parents, Warren Audrey Nesmith and Bette Nesmith Graham, divorced when their son was four. He and his mother moved to Dallas to be closer to her parents, sister, aunts, and grandmother. Bette took temporary jobs ranging from clerical work to graphical design and developed very good secretarial skills, including shorthand and, auspiciously, touch typing. When Nesmith was 13, his mother invented the typewriter correction fluid later known commercially as Liquid Paper. Over the next 25 years she built the Liquid Paper Corporation into a multimillion-dollar international company, which she finally sold to Gillette in 1979 for US$48 million. She died a few months later, aged 56.  Nesmith was enrolled in the Dallas public school system in 1949, aged 6. Describing himself as an indifferent student, he nevertheless participated in choral and drama activities during his years at Thomas Jefferson High School in Dallas.[4] He also began to write verse poetry. When he was 15 he enrolled in the    Dallas Theater Center teen program, where he was featured in several plays.
            </p>
          {{/if}}
    </div>
    <div class="box-above-below">
    </div>
</div>
